<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand">Marek Bednarczyk - "Lepsza wersja My gists"</a>
  </div>
</div>
<div class="jumbotron">
            <div class="container">

<h1>Edytowanie wrzutki</h1>
<br>

<%= render 'form' %>
<div class="btn-group btn-group-xl">
<button type="button" class="btn btn-default">
<%= link_to 'Pokaż', @gist %></button>
<button type="button" class="btn btn-default"><%= link_to 'Powrót', gists_path %></button>
</div>
</div>
</div>



