<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand">Marek Bednarczyk - "Lepsza wersja My gists"</a>
  </div>
</div>
<div class="jumbotron">
            <div class="container">
  	<h1>Nowa wrzutka</h1>

<%= render 'form' %>


<%= link_to 'Powrót', gists_path %>
</div>
</div>




